.container{
    max-width: 1200px;
    margin: auto;
    overflow: auto;
}

.gallery{
    margin: 5px;
    border: 2.5px solid #ccc;
    float: left;
    width: 390px;
    margin-top: 4rem;
}

.gallery img{
    width: 100%;
    height: auto;
    padding-top: 2.5rem;
}

.desc{
    padding: 15px;
    text-align: center;
}